.navbar > .container-fluid {
    background: #000000;
}

.navbar-brand[_ngcontent-c1] {
	background: #000000;
    border-bottom-width: 0;
}

.navbar-brand[_ngcontent-c1]:hover {
	background: #000000;
    border-bottom-width: 0;
}

.header-logo{
	content:url("https://xref-assets.xref.com/images/xref-logo/xref-medium-white-2.png");
}

.company-name {
    color: #ffffff !important; font-weight: 500;
}

button[style] {
    color: #ffffff !important; font-weight: 500;
}

.settings-menu > .fa-cog {
    color: #ffffff !important; font-weight: 500;
}

.region {
    color: #ffffff !important; font-weight: 500;
}

.user-name {
    color: #ffffff !important; font-weight: 500;
}
