/* jira */
.iWaoLr {
    background-color: #2C3E50;
}

.ketCUk {
    background-color: #566573;
}

/* confluence */
.etPVay {
    background-color: #2C3E50;
}

.gDhxib {
    background-color: #566573;
}

.gTbEOB {
    background-color: rgba(9, 30, 66, 0.25);
}
